{% extends 'modelAdm.html' %}
{% block conteudo %}

<style>
    main {
        background-color: #F7FCFC;
        font-family: 'Open Sans', sans-serif;
    }
    .card {
        border: none;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
    .btn-success {
        background-color: #225656;
        border: none;
    }
    .form-control, .form-select {
        background-color: #22565665;
    }
</style>

<main>
    <div class="container">
        <p class="fw-bold text-center p-5 fs-5" style="color: #225656;">Cadastro de Usuário</p>

        <!-- Mensagens de feedback -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Formulário de Cadastro de Funcionarios -->
        <div class="card mx-auto" id="formFuncionario" style="max-width: 600px; background-color: #fff; margin-bottom: 40px;">
            <div class="card-body">
                <form action="/cadastro" method="post">
                    <input type="hidden" name="tipo" value="funcionario"> <!-- Campo oculto para indicar o tipo -->
                    <div class="row">
                        <div class="col-md-8 mb-3 w-100">
                            <label for="nomeCompleto" class="form-label">Nome do Completo:</label>
                            <input type="text" class="form-control" id="nomeCompleto" name="nome_completo" required>
                        </div>
                        <div class="col-md-8 mb-3 w-100">
                            <label for="nomeEmail" class="form-label">E-mail:</label>
                            <input type="text" class="form-control" id="nomeEmail" name="nome_email" required>
                        </div>
                        <div class="col-md-8 mb-3 w-100">
                            <label for="cargo" class="form-label">Cargo:</label>
                            <select class="form-select" id="cargo" name="cargo" required>
                                <option selected>Escolha...</option>
                                {% for cargo in cargos %}
                                <option value="{{ cargo }}">{{ cargo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
                            <input type="date" class="form-control" id="dataNascimento" name="data_nascimento" required>
                        </div>

                        <div class="col-md-6">
                            <label for="numero" class="form-label">Telefone:</label>
                            <input type="text" class="form-control" id="numero" name="numero" required>
                        </div>
                    </div>

                    <div class="text-center pt-3 pb-3">
                        <button type="submit" class="btn btn-success" style="width: 12rem; height: 2rem;">Concluído</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function toggleForm() {
        var selectedSetor = document.getElementById('setores').value;
        var formEquipamento = document.getElementById('formEquipamento');
        var formFuncionario = document.getElementById('formFuncionario');
        var formSalas = document.getElementById('formSalas');
        
        formEquipamento.style.display = 'none';
        formFuncionario.style.display = 'none';
        formSalas.style.display = 'none';

        if (selectedSetor === 'equipamento') {
            formEquipamento.style.display = 'block';
        } else if (selectedSetor === 'funcionario') {
            formFuncionario.style.display = 'block';
        } else if (selectedSetor === 'salas') {
            formSalas.style.display = 'block';
        }
    }

    window.onload = function() {
        var formType = sessionStorage.getItem('formType');
        if (formType) {
            document.getElementById('setores').value = formType;
            toggleForm();
            sessionStorage.removeItem('formType'); // Limpa o formType após a exibição
        } else {
            toggleForm(); // Garante que o formulário correto seja mostrado no carregamento
        }
    };
</script>

{% endblock %}
