{% extends 'modelAdm.html' %}
{% block conteudo %}
<button id="toggleButton" class="btn">
    <ion-icon name="menu-outline"></ion-icon>
 </button>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #2256561e;
            height: 82vh;
            display: flex;
            flex-direction: column;
        }



        /* Container principal da página */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            flex-direction: column;
            text-align: center;
        }

        h1 {
            font-size: 36px;
            color: #225656;
            margin-bottom: 200px;
            font-weight: 500;
        }

        /* Estilo da grade de botões */
        .button-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 400px;
        }

        .button-grid a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 0;
            background-color: #fff;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 600;
            color: #225656;
            text-decoration: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease, background-color 0.2s ease;
        }

        .button-grid a:hover {
            background-color: #f0f0f0;
            transform: translateY(-5px);
        }

    </style>

<main>


    <!-- Conteúdo Principal -->
    <div class="container">
        <h1>Chamados por Sala</h1>
        <div class="button-grid">
            <a href="/chamSalasBloco">Bloco 1</a>
            <a href="#">Bloco 2</a>
            <a href="#">Área Externa</a>
            <a href="#">Quadra</a>
        </div>
    </div>

</main>
{% endblock%}