{% extends 'modelAdm.html' %}
{% block conteudo %}

<button id="toggleButton" class="btn">
    <ion-icon name="menu-outline"></ion-icon>
</button>
<main>
    <div class="container">
        <!-- Seção de Seleção de Setor -->
        <h2 class="section-title pt-4 pb-2">Editar Local</h2>
        <form method="GET" action="/filtrarLocaledicao">
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-sm-6 col-md-4 mb-2">
                    <label for="setorSelect" class="form-label">Filtrar Por Área:</label>
                    <select class="form-select" id="setorSelect" name="area">
                        <option value="" selected disabled>Áreas</option>
                        {% for sala in salas %}
                            <option value="{{ sala[0] }}">{{ sala[1] }}</option>
                        {% endfor %}
                    </select>                
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-2">
                    <label for="categoriaSelect" class="form-label">Filtrar Por Categoria:</label>
                    <select class="form-select" id="categoriaSelect" name="categoria">
                        <option value="" selected disabled>Categorias</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-end">
                    <button style="height: 3em; width: 100%;" type="submit" class="btn btn-dark">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Exibição de resultados filtrados -->
    <div class="container text-center pt-4">
        {% if locais %}
            <div class="row gy-3 px-2">
                {% for local in locais %}
                    <a href="/edicaoLocal/{{ local[0] }}" class="col-12 col-sm-6 col-md-4">{{ local[1] }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum resultado encontrado.</p>
        {% endif %}
    </div>
</main>

<style>
    main {
        background-color: #F7FCFC;
        font-family: 'Open Sans', sans-serif;
    }

    .section-title {
        color: #225656;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #225656;
        font-weight: bold;
        display: block;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    a:hover {
        background-color: #225656;
        color: #fff;
    }

    @media (max-width: 576px) {
        .btn {
            font-size: 0.9rem;
        }
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
