{% extends 'modelTec.html' %}
{% block conteudo %}

  <div class="container">
    <h1>Manutenções</h1>

    <!-- Loop pelos chamados -->
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for chamado in chamados %}
        <li class="list-group-item ps-3 border m-2 pt-1">
          <!-- Link para a página de detalhes do chamado -->
          <a href="{{ url_for('tec.tec_more', idChamado=chamado.idItem) }}" class="verMais">
            <span class="item">{{ chamado.nomeItem }}</span>
          <br>
          <p class="nome">Aberto por: {{ chamado.nomeUsuario }} ({{ chamado.cargoUsuario }})</p>
          <small class="text-muted fs-6">
            Local: {{ chamado.nomeLocal }}
          </small>
          <span class="badge 
            {% if chamado.nomeStatus == 'Não Respondido' %} bg-danger
            {% elif chamado.nomeStatus == 'Respondido' %} bg-success
            {% else %} bg-primary
            {% endif %} 
            float-end">
            {{ chamado.nomeStatus }}
          </span>
        </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <style>
    .container {
        max-width: 400px;
        margin: auto;
    }

    h1 {
        font-size: 42px;
        color: #225656;
        margin-bottom: 20px;
    }

    .item {
        font-size: 26px;
        color: #225656;
        margin-bottom: 2px;
    }
    .verMais {
        text-decoration: none;
    }
    .nome {
        font-size: 17px;
        color: #225656;
        margin-bottom: 0;
    }
    .card {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        padding: 12px;
        transition: background-color 0.3s;
    }
    .list-group-item {
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
    }
    .badge {
        margin-top: 24px;
        font-size: 15px;
    }
  </style>

{% endblock %}
