{% extends 'modelTec.html' %}
{% block conteudo %}


<div class="loader-container">
  <div class="loader"></div>
  <div class="loader-text">Carregando...</div>
</div>

<a href="{{ url_for('tec.tec_home') if chamado.nomeStatus != 'Concluído' else url_for('tec.tec_task') }}" class="py-3 px-3">
  <img src="{{ url_for('tec.serve_imageApp', filename='ButtonBack.png') }}" alt="Voltar" class="button-image">
</a>
<div class="w-100 container-show flex-column align-items-center mb-5 pb-4" style="display: none; overflow-y: auto;">

    {% set placeholder_image = url_for('tec.serve_imageApp', filename='ImagemIcon.png') %}
    <div class="rounded py-3 px-1 text-center w-100 mb-2" style="max-width: 400px; background-color: #e9efef;">
        <div class="image-container p-1">
            <img src="{{ url_for('tec.serve_image', filename=chamado.imgChamado if chamado.imgChamado else 'ImagemIcon.png') }}" 
                 alt="{{ chamado.tituloChamado }}" 
                 class="bulb-image w-100" 
                 onerror="this.onerror=null; this.src='{{ placeholder_image }}';">
        </div>
        <h2 style="color:#225656;" class="fw-bold fs-1 pt-2">{{ chamado.nomeItem }}</h2>
    </div>

    <!-- Detalhes da manutenção -->
    <div class="text-center w-75">
        <p class="descricao fs-2">{{ chamado.descChamado }}</p>
        <p class="local fs-2">Sala: {{ chamado.nomeLocal }}</p>

        <!-- Botão para exibir/ocultar respostas -->
        <button id="toggle-responses-btn" class="button-show-answer shadow-sm w-100 fs-2" style="max-width: 400px" onclick="toggleResponses()">
            Mostrar Respostas
        </button>
        <div id="responses-list" style="display: none;">
            {% if respostas %}
                <ul class="respostas-list">
                    {% for resposta in respostas %}
                        <li class="resposta-item fs-3">
                            <p>{{ resposta.dataResposta | data_formatada }}</p>
                            <p>{{ resposta.descResposta }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="fs-2 mt-1">Nenhuma resposta adicionada ainda.</p>
            {% endif %}
        </div>
    </div>

    <!-- Campo para adicionar resposta -->
    <div class="w-75 d-flex justify-content-center">
        {% if chamado.nomeStatus != 'Concluído' %}
            <div class="d-flex justify-content-end row w-100 shadow-sm my-3" style="cursor: pointer; border-radius: 15px; max-width: 400px; background-color: #d3dddd" onclick="addResponseField()">
                <div class="col-10 fs-2 p-3">Adicionar Resposta</div>
                <div class="col-2 bg-black d-flex justify-content-center align-items-center" style="border-radius: 15px; font-size: 48px"><i class="bi bi-plus text-light"></i></div>
            </div>
        {% endif %}
    </div>

    <div id="responses-container"></div>

    <!-- Modal de confirmação para finalizar -->
    <div class="bottom-buttons mb-5">
        {% if chamado.nomeStatus == 'Concluído' %}
            <button class="btn-finalizar" disabled>FINALIZADO ✔️</button>
        {% else %}
            <button class="btn-finalizar mb-5" onclick="toggleConfirmationModal()">FINALIZAR</button>
        {% endif %}
    </div>

    <!-- Elemento para armazenar o idChamado -->
    <div id="chamado-id" data-id="{{ chamado.idChamado }}"></div>

    <div id="confirmation-modal" class="modal" style="display: none;">
        <div class="modal-content fw-bold">
            <p class="fs-3" style="color: #225656;">Tem certeza que deseja finalizar o chamado?</p>
            <p class="fs-3">Se finalizar, não será possível adicionar outras respostas ao problema.</p>
            <div class="modal-actions">
                <button class="btn-finalizar-confirm me-2" onclick="finalizarChamado()">FINALIZAR</button>
                <button class="btn-cancel" onclick="toggleConfirmationModal()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

<style>
    /* From Uiverse.io by Abrar-Hussain1 */ 
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 70px;
  height: 70px;
  position: relative;
}

.loader:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #225656;
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 1s ease-in-out infinite;
}

.loader:after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #225656;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
}

.loader-text {
  font-size: 24px;
  margin-top: 20px;
  color: #225656;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0.6);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body{
    background-color: #fff;
}

.content {
  display: none;
}

.loaded .loader-container {
  display: none;
}

.loaded .content {
  display: block;
}

.respostas-list {
list-style-type: none;
padding: 0;
}

.resposta-item {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; /* Define o espaço entre a imagem e o título */
}

  .bulb-image {
      width: 250px;
      height: auto;
      border-radius: 10px;
      border: 1px solid #225656;
  }
  .button-show-answer {
    background-color: #d3dddd;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px;
  }
  .details-container {
      text-align: center;
  }


  .descricao {
      font-size: 18px;
      color: #225656;
      margin-bottom: 5px;
  }

  .local {
      font-size: 16px;
      color: #777;
  }

    .btn-finalizar, .btn-finalizar-confirm, .btn-cancel {
      border: 1px solid #225656; /* Borda verde-escura com 1px de espessura */ 
      border-radius: 10px; /* Bordas arredondadas */
      padding: 10px 20px; /* Espaçamento interno */
      font-size: 24px; /* Tamanho da fonte */
      cursor: pointer; /* Cursor de ponteiro */
      width: 100%; /* Largura total */
      margin-top: 10px; /* Margem superior */
  }

  .btn-finalizar, .btn-cancel{
    background-color: #225656;
    color: #fff;
  }

  .btn-finalizar-confirm{
    background-color: #fff;
    color: #225656;
  }

  .response-input {
      margin-top: 20px;
      width: 100%;
      max-width: 400px;
  }

  .input-textarea {
      width: 100%;
      height: 80px;
      border-radius: 10px;
      border: 1px solid #225656;
      padding: 10px;
      resize: none;
  }

  .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      width: 90%;
      max-width: 400px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .modal-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }

  .button-image {
      width: 50px;
      height: auto;
      cursor: pointer;
  }

  /* Adiciona espaço acima do botão de finalizar */
  .modal-actions button {
      margin-top: 10px;
  }

  /* Adiciona espaço à direita do botão cancelar, se desejado */
  .btn-cancel {
      margin-right: 10px;
  }

  /* Media query para telas menores que 700px de altura */
  @media (max-height: 700px) {
      .title {
          font-size: 20px; /* Diminuir tamanho do título */
      }

      .descricao {
          font-size: 16px; /* Diminuir descrição */
      }

      .local {
          font-size: 14px; /* Diminuir texto da local */
      }

      .btn-add, .btn-finalizar, .btn-finalizar-confirm, .btn-cancel {
          font-size: 14px; /* Diminuir tamanho dos botões */
      }
  }
</style>

<script>

window.addEventListener('load', function() {
        setTimeout(function() {
            document.querySelector('.loader-container').style.display = 'none';
            document.querySelector('.container-show').style.display = 'flex';
        }, 1000); 
    });

    function getIdChamado() {
        return document.getElementById('chamado-id').dataset.id;
    }

    function addResponseField() {
        const responsesContainer = document.getElementById('responses-container');
        
        // Verifica se já existe um campo de resposta
        if (responsesContainer.querySelector('.response-input')) {
            alert('Você já está adicionando uma resposta.');
            return;
        }

        responsesContainer.className = "w-100 d-flex justify-content-center"

        const responseDiv = document.createElement('div')
        responseDiv.className = "ps-3 row d-flex col-12"

        const textarea = document.createElement('textarea');
        textarea.className = 'col-10 p-3 fs-2';
        textarea.style = 'resize: none; border-radius: 10px; border: 1px solid #225656;'
        textarea.placeholder = 'Digite sua resposta aqui...';

        const buttonsDiv = document.createElement('div')
        buttonsDiv.className = 'col-2 d-flex flex-column justify-content-center'

        const saveButton = document.createElement('button');
        saveButton.className = 'border border-0 d-flex justify-content-center align-items-center bg-transparent';
        saveButton.style = 'font-size: 48px;';
        saveButton.innerHTML = '<i class="bi bi-check-lg text-success"></i>';
        saveButton.onclick = function() {
            const resposta = textarea.value;
            const idChamado = getIdChamado(); // Obtém o idChamado

            if (resposta.trim() === "") {
                alert('A resposta não pode estar vazia.');
                return;
            }

            // Envia a resposta ao backend
            fetch(`/tec/addResponse/${idChamado}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ resposta }),
            })
            .then(response => {
                if (response.ok) {
                    alert('Resposta adicionada com sucesso!');
                    responsesContainer.removeChild(responseDiv); // Remove o campo após salvar
                    toggleResponses(); // Atualiza a lista de respostas
                    window.location.reload(); // Atualiza a página
                } else {
                    alert('Erro ao adicionar resposta.');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao adicionar resposta.');
            });
        };

        const cancelButton = document.createElement('button');
        cancelButton.className = 'border border-0 d-flex justify-content-center align-items-center bg-transparent';
        cancelButton.style = "font-size: 48px";
        cancelButton.innerHTML = '<i class="bi bi-x-lg text-danger"></i>';
        cancelButton.onclick = function() {
            responsesContainer.removeChild(responseDiv); // Remove o campo ao cancelar
        };

        buttonsDiv.appendChild(saveButton);
        buttonsDiv.appendChild(cancelButton);
        responseDiv.appendChild(textarea);
        responseDiv.appendChild(buttonsDiv);
        responsesContainer.appendChild(responseDiv)
    }

    function toggleResponses() {
        const responsesList = document.getElementById('responses-list');
        const toggleButton = document.getElementById('toggle-responses-btn');

        if (responsesList.style.display === 'none') {
            responsesList.style.display = 'block';
            toggleButton.innerHTML = 'Ocultar Respostas';
        } else {
            responsesList.style.display = 'none';
            toggleButton.innerHTML = 'Mostrar Respostas';
        }
    }

    function toggleConfirmationModal() {
        const modal = document.getElementById('confirmation-modal');
        modal.style.display = modal.style.display === 'none' ? 'flex' : 'none';
    }

    function finalizarChamado() {
        const idChamado = getIdChamado();

        fetch(`/tec/finalizarChamado/${idChamado}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                alert('Chamado finalizado com sucesso!');
                window.location.reload(); // Atualiza a página
            } else {
                alert('Erro ao finalizar chamado.');
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao finalizar chamado.');
        });
    }
</script>

{% endblock %}
