{% extends 'modelo.html' %}
{% block conteudo %}
<main class="r1360">
    {% if not vagas %}
        <!-- Não tem vaga disponível -->
        <h1 class="text-center text-danger my-5">Não há vagas cadastradas</h1>
    {% else %}
        <div class="container text-center" style="margin-top: 25px; margin-bottom: 25px;">
            <ul class="list-group mb-3 d-flex flex-row {% if vagas|length == 1 %}justify-content-center{% endif %}">
                <div class="row g-3">
                    {% for vaga in vagas %}
                        <div class="col-12 col-md-10 col-lg-{{ '6' if vagas|length > 1 else '12' }} mx-auto" id="vagaContainer{{ loop.index }}">
                            <!-- Se houver apenas uma vaga -->
                            <li class="list-group-item py-1 d-flex align-items-center {% if vagas|length == 1 %}text-center{% endif %}" style="height: 180px;">
                                <div class="col-3 me-3 mh-100">
                                    <img src="../static/img/vagas/{{ vaga['img_vaga'] }}" class="img-thumbnail mh-100" draggable="false"/>
                                </div>
                                <div class="col-5 px-5">
                                   <h3 class="text-black"><strong>{{ vaga['cargo_vaga'] }}</strong></h3>
                                   <h5 class="text-black">{{ vaga['tipo_vaga'] }}</h5>
                                   <p class="text-danger fs-4">R$ {{ vaga['salario_vaga'] }}</p>
                                </div>
                                <div class="col">
                                    <a href="/editvagas/{{ vaga['id_vaga'] }}"><i class="bi bi-pencil-square fs-3"></i></a>
                                    <a href="/excluir/{{ vaga['id_vaga'] }}" onclick="return confirm('Você tem certeza de que deseja excluir essa vaga?')"><i class="bi bi-trash3 ms-5"></i></a>
                                </div>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            </ul>
        </div>
    {% endif %}

    <script src="/static/JS/java.js"></script>

    <div class="container text-center">
        <button type="button" onclick="window.location.href='/cadvagas'" class="btn btn-lg btn-success mx-5">Cadastrar</button>
        <button type="button" onclick="window.location.href='/logout'" class="btn btn-lg btn-danger mx-5">Sair</button>
    </div>
</main>
{% endblock %}