{% extends 'modelo.html' %}
{% block conteudo %}

<div class="vagas" style="margin-top: 25px; margin-bottom: 25px;">
    {% if not vagas%}
        <h1 class="display-5 text-center text-danger">Pagina Em Desenvolvimento...</h1>
    {% else %}
        <div class="container">
            <div class="row g-4">
                {% for vaga in vagas %}
                <div class="col-12 col-sm-7 col-md-5 col-lg-3 col-lx-2">
                    <div class="card text-center bg-light">
                      <img src="../static/img/vagas/{{ vaga['img_vaga'] }}" draggable="false" class="card-img-top" style="height: 300px; object-fit: cover;" />
                        <div class="card-header fs-3 text-danger">R$ {{ vaga['salario_vaga'] }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ vaga['cargo_vaga']}}</h5>
                            <p class="card-text truncar-31">{{ vaga['tipo_vaga'] }}</p>
                            <button><a href="/vermais/{{vaga['id_vaga']}}" style="text-decoration: none; color: #fff;">Ver Mais</a>
                              <div class="arrow-wrapper">
                                  <div class="arrow"></div> 
                              </div>        
                          </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
  </div>



{% endblock %}