{% extends 'modelo.html' %}
{% block conteudo %}

<p class="fw-bold text-center p-4 fs-5" style="color: #225656;">Administração</p>

<main class="container-fluid">

  <div class="row m-5">
    <!-- Meus Chamados -->
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Meus Chamados</h5>
          <ul class="list-group">
            {% for chamado in vagas %}
            <li class="list-group-item">
              <span>{{ chamado['titulo'] }}</span>
              <br>
              <small class="text-muted">Sala: {{ chamado['sala'] }}</small>
              <span class="badge {% if chamado['status'] == 'Não Respondido' %} bg-danger {% else %} bg-success {% endif %} float-end">
                {{ chamado['status'] }}
              </span>
            </li>
            <a href="#" class="btn btn-link">Ver mais...</a>
            {% else %}
            <h2 class=" text-center text-success">Nenhum Chamado Cadastrado.</h2>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Chamados Overview -->
    <div class="col-md-6">
      <div class="row text-center">
        <div class="col">
          <div class="card p-3">
            <h6>Chamados Recentes</h6>
          </div>
        </div>
        <div class="col">
          <div class="card p-3">
            <h6>Chamados por Sala</h6>
          </div>
        </div>
        <div class="col">
          <div class="card p-3">
            <h6>Chamado por Item</h6>
          </div>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col">
          <div class="card p-3">
            <h6>Não Respondidos</h6>
            <span class="badge bg-danger">{{ vagas|selectattr("status", "equalto", "Não Respondido")|list|length }}</span>
          </div>
        </div>
        <div class="col">
          <div class="card p-3">
            <h6>Respondidos</h6>
            <span class="badge bg-success">{{ vagas|selectattr("status", "equalto", "Respondido")|list|length }}</span>
          </div>
        </div>
        <div class="col">
          <div class="card p-3">
            <h6>Concluídos</h6>
            <span class="badge bg-primary">{{ vagas|selectattr("status", "equalto", "Concluído")|list|length }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Ações Rápidas -->
    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Novo Chamado</a>
        <a href="#" class="list-group-item list-group-item-action">Cadastrar Usuário</a>
        <a href="#" class="list-group-item list-group-item-action">Cadastrar Item</a>
        <a href="#" class="list-group-item list-group-item-action">Cadastrar Local</a>
      </div>
    </div>
  </div>

  <!-- Chamados em Cartões -->
  <div class="vagas" style="margin-top: 25px; margin-bottom: 25px;">
    {% if not vagas %}
      
    {% else %}
      <div class="container">
        <div class="row g-4">
          {% for chamado in vagas %}
          <div class="col-12 col-sm-7 col-md-5 col-lg-3 col-lx-2">
            <div class="card text-center bg-light">
              {% if chamado['img_chamado'] %}
                <img src="../static/img/chamados/{{ chamado['img_chamado'] }}" class="card-img-top" draggable="false" style="height: 300px; object-fit: cover;" />
              {% endif %}
              <div class="card-header fs-3 text-danger">
                <span class="badge {% if chamado['status'] == 'Não Respondido' %} bg-danger {% else %} bg-success {% endif %}">
                  {{ chamado['status'] }}
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ chamado['titulo'] }}</h5>
                <p class="card-text truncar-31">{{ chamado['descricao'] }}</p>
                <a href="/vermais/{{ chamado['id_chamado'] }}" style="text-decoration: none; color: #fff;">
                  <button>
                    Ver Mais
                    <div class="arrow-wrapper">
                      <div class="arrow"></div>
                    </div>
                  </button>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<style>
  button {
    --primary-color: #29474b;
    --secondary-color: #fff;
    --hover-color: #29474b99;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-left: auto;
  }

  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }

  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }

  button:hover {
    background-color: var(--hover-color);
  }

  button:hover .arrow {
    background: var(--secondary-color);
  }

  button:hover .arrow:before {
    right: 0;
  }
</style>

{% endblock %}
