{% extends 'modelo.html' %}
{% block conteudo %}

<main class="r1360">
  <div class="container-fluid">
    <div class="row">
        <!-- Coluna do Carousel à Esquerda -->
        <div class="col-md-6">
            <div class="sobre" style="padding: 30px;">
                <main>
                    <div class="container">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner img-fluid">
                              <div class="carousel-item active">
                                <img src="../static/img/sobre/imagens1.png" draggable="false" class="d-block w-100 img-fluid" >
                              </div>
                              <div class="carousel-item">
                                <img src="../static/img/sobre/imagens2.png" draggable="false" class="d-block w-100 img-fluid" >
                              </div>
                              <div class="carousel-item">
                                <img src="../static/img/sobre/imagens3.png" draggable="false" class="d-block w-100 img-fluid" >
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                    </div>
                </main>
            </div>
        </div>
        <div class="col-md-6 fs-5">
            <div class="sobre" style="padding: 30px;">
                <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i><strong>Desenvolvimento de Software:</strong></i>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    A Youtech é especializada no desenvolvimento de software personalizado para atender às necessidades específicas de seus clientes. Desde aplicativos móveis inovadores até soluções empresariais complexas, nossa equipe de desenvolvedores utiliza as mais recentes tecnologias para oferecer produtos eficientes e escaláveis.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i><strong>Inteligência Artificial e Machine Learning:</strong></i>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    A empresa está na vanguarda da revolução da inteligência artificial, aplicando algoritmos avançados de machine learning para oferecer soluções inteligentes que melhoram a eficiência operacional e a tomada de decisões.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i><strong>Tecnologia Blockchain:</strong></i>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    A Youtech explora as possibilidades oferecidas pela tecnologia blockchain, desenvolvendo soluções seguras e transparentes para setores como finanças, cadeia de suprimentos e autenticação de dados.
                  </div>
                </div>
            </div>
          </div>


              <div class="história mt-3 fs-5">
                <h3>História da Youtech: Transformando Desafios em Oportunidades</h3>
                <br>
              <p>Tudo começou quando os fundadores da Youtech, inspirados por suas experiências diversas em desenvolvimento de software, inteligência artificial e consultoria em tecnologia, decidiram unir forças para criar algo extraordinário. Eles acreditavam que a tecnologia não era apenas uma ferramenta, mas uma força motriz capaz de redefinir indústrias e elevar a sociedade como um todo.</p>
              <p>A jornada da Youtech começou modestamente, em um pequeno escritório cheio de ideias brilhantes. A equipe, composta por programadores visionários, especialistas em IA e consultores em tecnologia, estava determinada a enfrentar os desafios mais complexos e a criar soluções inovadoras que transcendessem as expectativas.</p>
              <p>Com o tempo, a Youtech expandiu seu escopo para incluir inteligência artificial e machine learning. Reconhecendo o potencial revolucionário dessas tecnologias, a equipe mergulhou fundo, desenvolvendo soluções que automatizavam tarefas, aprimoravam a análise de dados e impulsionavam a eficiência operacional para seus clientes.</p>
              <p>Hoje, a Youtech permanece fiel à sua missão original: capacitar empresas a prosperar em um mundo digital em constante mudança. Seu legado é uma história de resiliência, criatividade e dedicação a transformar desafios em oportunidades. A Youtech continua a escrever seu capítulo na história da tecnologia, inspirando outros a sonhar grande e abraçar o futuro com confiança.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 fs-5">
            <div class="sobre" style="padding: 30px;">
                <div class="container_3">
                    <div class="text">
                        <br>
                        <div class="border border-dark"></div>
                        <br>
                        <br>
                        <h3>Missão</h3>
                        <br>
                        <p>ㅤNa Youtech, nossa missão vai além do desenvolvimento de tecnologia; é uma promessa de transformação, inovação e parceria duradoura. Estamos empenhados em liderar a mudança e impulsionar o futuro digital, contribuindo para o sucesso sustentável de nossos clientes e da comunidade global.</p>
                        <br>
                        <div class="border border-dark"></div>
                        <br>
                        <br>
                        <h3>Valores</h3>
                        <h6>ㅤA YouTech se baseia em valores sólidos:</h6>
                        <br>
                        <p>
                            <li>Inovação Constante: Buscamos incessantemente por novas ideias e abordagens para manter nossos clientes à frente no cenário tecnológico em constante mudança.</li>
                            <li>Compromisso com a Qualidade: Na Youtech, a qualidade é uma prioridade em todos os aspectos do nosso trabalho, desde o desenvolvimento de software até o atendimento ao cliente.</li>
                            <li>Colaboração e Trabalho em Equipe: Acreditamos no poder da colaboração e do trabalho em equipe, tanto internamente quanto em parceria com nossos clientes, para alcançar resultados excepcionais.</li>
                            <li>Atendimento ao Cliente: Cada cliente é um amigo, e eles tratam todos com carinho e respeito.</li>
                            <li>Ética e Transparência: Operamos com os mais altos padrões éticos, garantindo transparência em todas as nossas interações e transações.</li>
                            <br>
                            A Youtech está comprometida em impulsionar a inovação e proporcionar soluções tecnológicas de ponta que capacitam empresas a prosperar em um mundo cada vez mais digitalizado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="sobre" style="padding: 30px;">
                <main>
                    <div class="image">
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner img-fluid">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="../static/img/sobre/imagens4.png" draggable="false" class="d-block w-100 img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="../static/img/sobre/imagens5.png" draggable="false" class="d-block w-100 img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/sobre/imagens6.png" draggable="false" class="d-block w-100 img-fluid" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </main>
            </div>
        </div>
  </div>

  {% endblock %}
  <!-- Bootstrap JavaScript (optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</main>
</html>