{% extends 'modelo.html' %}
{% block conteudo %}

<br><main class="flex-fill" style=" padding: 10px";>
    <div class="container">
    </head>
    <body>
    
    <h1 class="fs-1">Desenvolva seu Potencial em Tecnologia e Serviços Gerais</h1>
    
    <p>A Youtech está expandindo sua equipe e procura por talentos apaixonados e inovadores para se juntarem a nós na missão de impulsionar a excelência em tecnologia e serviços gerais. Se você está pronto para um desafio emocionante e deseja fazer parte de uma empresa dinâmica, veja nossas vagas disponíveis abaixo:</p>
    <br>
    <h2>1. Desenvolvedor(a) Full Stack:</h2>
    <ul>
        <li>Experiência comprovada em desenvolvimento web.</li>
        <li>Conhecimento em linguagens como JavaScript, HTML, CSS.</li>
        <li>Capacidade de trabalhar em equipe e solucionar problemas de forma eficiente.</li>
    </ul>
    
    <h2>2. Especialista em Infraestrutura de TI:</h2>
    <ul>
        <li>Experiência em administração de sistemas e redes.</li>
        <li>Conhecimento em soluções de virtualização e armazenamento.</li>
        <li>Certificações relevantes serão consideradas uma vantagem.</li>
    </ul>
    
    <h2>3. Analista de Suporte Técnico:</h2>
    <ul>
        <li>Habilidades excepcionais de comunicação.</li>
        <li>Experiência em diagnóstico e resolução de problemas de hardware e software.</li>
        <li>Disponibilidade para escalas de suporte.</li>
    </ul>
    
    <h2>4. Assistente Administrativo(a) de Serviços Gerais:</h2>
    <ul>
        <li>Habilidade em organização e gestão de tarefas administrativas.</li>
        <li>Conhecimento em ferramentas de produtividade.</li>
        <li>Atitude proativa e habilidades interpessoais.</li>
    </ul>
    
    <h2>Benefícios:</h2>
    <ul>
        <li>Salário competitivo.</li>
        <li>Plano de saúde e odontológico.</li>
        <li>Oportunidades de treinamento e desenvolvimento profissional.</li>
        <li>Ambiente de trabalho dinâmico e inovador.</li>
    </ul>
    
    <p>Envie seu currículo para <a href="mailto:careers@youtech.com">careers@youtech.com</a>, indicando a posição desejada no assunto do e-mail. Estamos ansiosos para receber candidaturas de profissionais talentosos que desejam crescer conosco na vanguarda da tecnologia e serviços gerais.</p>
</main>

{% endblock %}