{% extends 'modelo.html' %}
{% block conteudo %}

<!-- Ver Mais -->
<div class="container-fluid {% if container_curriculo_aberto %}aberto{% endif %}">
  <div class="row">
      <!-- Coluna do Carousel à Esquerda -->
      <div class="col-md-6">
          <div class="vaga" style="padding: 30px;">
        {% for campo in vaga %}
    
        <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3  w-100 border border.black">
            <h1>Setor: {{ campo[1] }}</h1>
          </nav>
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 w-100 border border.black" tabindex="0">
            <img class="fotoperfil" src="/static/img/vagas/{{ campo[7] }}" draggable="false" style="width: 225px; padding-bottom: 5px;">
            <h4 id="scrollspyHeading1"><strong>Cargo:</strong></h4>
            <p>🤝{{ campo[2] }}</p>
            <h4 id="scrollspyHeading2"><strong>Requisitos:</strong></h4>
            <p>🤹‍♂️{{ campo[3] }}</p>
            <h4 id="scrollspyHeading3"><strong>Salario:</strong></h4>
            <p>💸 {{ campo[4] }}</p>
            <h4 id="scrollspyHeading4"><strong>Local:</strong></h4>
            <p>🚩 {{ campo[5] }}</p>
            <h4 id="scrollspyHeading5"><strong>Email:</strong> </h4>
            <p>📩 {{ campo[6] }}</p>
    
        {% endfor %}
    
            <div class="button d-flex">
              <a href="/" style="text-decoration: none; color: black;"><button class="voltar" >
                  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
                    <span>Back</span></a>
                  </button>
            
                  <div class="button">
    <button id="enviarCurriculoBtn" type="button">
        <span>Enviar Currículo</span>
    </button>
</div>
            </div>
        </div>
      </div>
  </div>
  <div class="container_6 col-md-6 {% if container_curriculo_aberto %}aberto{% endif %}" id="containerCurriculo" style="display: none;">
    <div class="vaga" style="padding: 30px;">
      <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3  w-100 border border.black">
        <h1>Setor: Curriculo</h1>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 w-100 border border.black" tabindex="0">
      <h1 class="mb-5 display-10 text-center">Coloque Seu Dados, Por Favor</h1>
  <div class="row justify-content-center">
      <form action="/upload" method="post" class="text-center col-10 col-md-8 col-lg-6 mt-3" novalidate>
          <div class="form-floating mb-3">
              <input type="text" name="usuario" id="usuario" class="form-control" placeholder="" autofocus required />
              <label for="usuario">Usuário</label>
              <div class="invalid-feedback">
                  Você deve informar o nome do usuário
              </div>
          </div>
          <div class="col-12 col-md-7 w-100" id="caixaCurriculo" style="display: none;">
            <div class="input-group m2-3">
              <span class="input-group-text"><i class="bi bi-file-pdf"></i></span>
                <div class="form-floating">
                    <input type="file" name="pdf_vaga" id="pdf_vaga" accept="application/pdf" required class="form-control"/>
                    <div class="invalid-feedback">
                        Você vai Enviar Seu Currículo Da vaga.
                    </div>
                </div>
            </div>
        </div>
  
          <div class="form-check-label text-danger text-center">
              <p>{{ msg }}</p>
          </div>
  
          <div class="form-check mb-3 d-flex justify-content-34 start" required>
              <input type="checkbox" class="form-check-input border border-black border-1" name="chklembrar"
                  id="chklembrar" required/>
              <label for="chkLembrar" class="form-check-label ms-3" required>
                  Concorda Com As Políticas De Privacidade?
              </label>
              <div class="invalid-feedback">
                assinale o campo
            </div>
          </div>

  
          <input type="submit" value="Enviar" name="pdf_vaga" class="btn btn-lg btn-outline-danger" />
          <p class="mt-3"> Não tem um Curriculo? <a href="https://www.google.com/aclk?sa=l&ai=DChcSEwji2fb87OaCAxXOQUgAHfFuAf4YABADGgJjZQ&ase=2&gclid=CjwKCAiAvJarBhA1EiwAGgZl0MYlliYDWKWrWp5FdhT4XTaviawldzxekYg2XUNtJBuqWNrqy4U_shoCMIAQAvD_BwE&sig=AOD64_3DTm9PkLGl2WX-slxABjzueWdeKA&q&nis=4&adurl&ved=2ahUKEwjQ6u787OaCAxW_s5UCHZhLAloQ0Qx6BAgLEAM"> Clique aqui </a> para fazer um.</p>
      </form>
  </div>

              <div class="col-12 col-md-7" id="caixaCurriculo" style="display: none;">
                <div class="input-group m2-3">
                    <span class="input-group-text"><i class="bi bi-file-pdf"></i></span>
                    <div class="form-floating">
                        <input type="file" name="pdf_vaga" id="pdf_vaga" accept="pdf" required class="form-control"/>
                        <div class="invalid-feedback"> 
                            Você vai Enviar Seu Currículo Da vaga.
                        </div>
                    </div>
                </div>
            </div>
          </div>  
        </div>
    </div>
<style>
    button {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #fff;
 border: 1px solid;
 margin-left: 5px;
}

button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

button:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
}
.container-fluid.aberto {
    float: left; 
    width: 50%;
  }

  .container_6.aberto {
    float: right;
    width: 50%;
  }
</style>




<script>
  document.addEventListener('DOMContentLoaded', function () {
    const containerCurriculo = document.getElementById('containerCurriculo')
    const enviarCurriculoBtn = document.getElementById('enviarCurriculoBtn')
    const caixaCurriculo = document.getElementById('caixaCurriculo')

    enviarCurriculoBtn.addEventListener('click', function () {
      if (containerCurriculo.style.display === 'none' || containerCurriculo.style.display === '') {
        containerCurriculo.style.display = 'block'
        caixaCurriculo.style.display = 'block'
        enviarCurriculoBtn.getElementsByTagName('span')[0].innerText = 'Fechar Currículo'
      } else {
        containerCurriculo.style.display = 'none'
        caixaCurriculo.style.display = 'none'
        enviarCurriculoBtn.getElementsByTagName('span')[0].innerText = 'Enviar Currículo'
      }
    })
  })
</script>


{% endblock %}