{% extends 'modelFunc.html' %}
{% block conteudo %}
    <style>
        .content {
            text-align: center;
            margin-top: 20px;
        }
        .content img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #005c56;
            margin: 20px 0;
            font-size: 26px;
        }
        .description {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .location {
            font-size: 16px;
            color: gray;
        }
        .response-box {
            background-color: #e0edeb;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            text-align: left;
        }
        .response-box h3 {
            font-size: 18px;
            color: #005c56;
            margin: 0 0 10px 0;
        }
        .response-box p {
            margin: 0;
            font-size: 16px;
        }

        /* Estilos responsivos para dispositivos móveis */
        @media (max-width: 768px) {
            .container {
                width: 90%;
                padding: 20px;
            }
            header h1 {
                font-size: 20px;
            }
            h2 {
                font-size: 22px;
            }
            .content img {
                width: 150px;
                height: 150px;
            }
        }

        @media (max-width: 480px) {
            header {
                flex-direction: column;
                text-align: center;
            }
            header h1 {
                font-size: 18px;
            }
            .content img {
                width: 120px;
                height: 120px;
            }
        }
    </style>
    <div class="container d-flex flex-column align-items-center">
        <div class="row mt-3">
            {% set placeholder_image = url_for('func.serve_image', filename='ImagemIcon.png') %}
            <div class="d-flex justify-content-center rounded shadow-sm mb-2">
                <img src="{{ url_for('func.serve_image', filename=chamado.imgChamado) }}" 
                     alt="{{ chamado['nomeItem'] }}" 
                     class="w-75 rounded" 
                     onerror="this.onerror=null; this.src='{{ placeholder_image }}';">
            </div>
            <h2 class="fs-2">{{chamado['chamadoItem']}}</h2>
            <p class="description">{{chamado['descChamado']}}</p>
            <p class="location">{{chamado['nomeLocal']}}</p>
        </div>

        <div class="response-box">
            <h3>Resposta</h3>
            <p><strong>Tio Carlos:</strong> {{chamado['descResposta']}}</p> <!-- Resposta de Tio Carlos -->
        </div>
    </div>
{% endblock %}
