{% extends 'modelFunc.html' %}
{% block conteudo %}
<div class="container mt-3">
    <button class="submit-button w-100 py-1 text-light fs-4 rounded my-3" style="background-color: #225656; cursor: pointer;">Abrir um chamado</button>
    {% if chamados %}
        <ul class="list-group list-group-flush" style="font-family: Poppins">
            {% for chamado in chamados %}
                <li class="list-group-item ps-3 rounded m-2 pt-1">
                    {% set placeholder_image = url_for('func.serve_image', filename='ImagemIcon.png') %}
                    <div class="chamado-card d-flex align-items-center">
                        <img
                            src="{{ url_for('func.serve_image', filename=chamado.imgChamado) }}" 
                            class="chamado-imagem"
                            onerror="this.onerror=null; this.src='{{ placeholder_image }}';">
                        <a href="{{ url_for('func.detalhe_chamado', idChamado=chamado.idChamado) }}" class="verMais text-decoration-none">
                            <div class="chamado-conteudo ms-3">
                                <span class="item fw-bold">{{ chamado.nomeItem }}</span>
                                <br>
                                <p class="local">Local: {{ chamado.nomeLocal }}</p>
                                <span class="badge 
                                    {% if chamado.nomeStatus == 'Não Respondido' %} bg-danger
                                    {% elif chamado.nomeStatus == 'Respondido' %} bg-success
                                    {% else %} bg-primary
                                    {% endif %} 
                                    float-end mb-1">
                                    {{ chamado.nomeStatus }}
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="sem-chamados mt-3">Nenhum chamado finalizado até o momento.</p>
    {% endif %}
</div>

<style>
  .container {
      max-width: 360px;
      border-radius: 10px;
  }

  .titulo {
  font-size: 39px;
  color: #225656;
  margin-bottom: 20px;
  font-weight: bold;
  }

  .recuo {
      display: inline-block;
      text-indent: 20px; 
  }

  .data-container {
      display: flex;
      align-items: center;
      margin-top: 20px; 
  }

  .data {
      font-size: 18px; /* Aumenta o tamanho da fonte */
      color: #333; /* Deixa o texto mais escuro */
      margin-right: 10px; /* Um pouco mais de espaço */
      font-weight: bold; /* Torna o texto mais destacado */
  }

  .linha-separacao {
      flex-grow: 1; 
      border-top: 2px solid #000; /* Linha mais espessa e mais escura */
      padding-bottom: 13px;
  }

  .chamado-card {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      padding: 12px;
      transition: background-color 0.3s;
  }

  .item {
      font-size: 26px;
      color: #225656;
      margin-bottom: 2px;
  }

  .verMais {
      text-decoration: none;
  }

  .nome {
      font-size: 17px;
      color: #225656;
      margin-bottom: 0;
  }


  
  .card-body {
      height: calc(100vh - 260px); /* Ajuste a altura conforme necessário */
      overflow-y: auto; /* Permite rolagem vertical quando necessário */
  }

  /* Estilização opcional para a barra de rolagem */
  .card-body::-webkit-scrollbar {
      width: 8px;
  }

  .card-body::-webkit-scrollbar-thumb {
      background-color: #225656; /* Cor da barra de rolagem */
      border-radius: 10px;
  }
  
  .chamado-imagem {
      width: 160px; /* A largura será definida de acordo com o texto */
      height: 110px; /* Define uma altura fixa para manter a proporção */
      background-color: #E0E0E0;
      border-radius: 8px;
      margin-right: 15px; /* Espaço entre imagem e texto */
  }

  .chamado-card {
      display: flex; /* Mantém a imagem e o texto alinhados */
      align-items: center; /* Centraliza verticalmente */
  }



  .descricao {
      font-size: 26px;
      color: #225656;
      margin-bottom: 2px;
  }

  .local {
      font-size: 18px;
      color: #777;
      padding-top: 2px;
  }

  .sem-chamados {
      text-align: center;
      font-size: 16px;
      color: #225656;
      margin-top: 50%;
  }

  .action-bar {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      padding-bottom: 20px;
  }

  .botao-cancelar, .botao-concluir {
      background-color: #E5F0EF;
      border: none;
      width: 48px;
      height: 48px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #225656;
      cursor: pointer;
  }

  .botao-cancelar:hover, .botao-concluir:hover {
      background-color: #cde1e0;
  }
</style>


{% endblock %}